{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="page_list">
  Страница:
  <a class="page_list_el" href="{{link}}1"><<</a>
  {% if pages.0 %}
  <a class="page_list_el" href="{{link}}{{pages.0}}">{{pages.0}}</a>
  {% endif %}
  <a class="page_list_el">{{pages.1}}</a>
  {% if pages.2 %}
  <a class="page_list_el" href="{{link}}{{pages.2}}">{{pages.2}}</a>
  {% endif %}
  <a class="page_list_el" href="{{link}}{{last_page}}">>></a>
</div>

{% for problem in task_list%}

<div class="task_frame_subs">
    <text class="id" id="id"><a href='/sigma_geo/problem?id={{problem.id}}'>#{{problem.id}}</a>
      {% if user.is_authenticated %}
      <form class="add_tex_list" method="POST" action="{{link}}{{page.1}}&id={{problem.id}}">{% csrf_token %}
        <input type="hidden" name="task_request" value="{{problem.id}}">
        <button type="submit" class="in_tex_list"></button> 
      </form>
      {% endif %}
    </text>
  {% if problem.themes %}
  <p class="themes">Темы: 
  {% for theme in problem.themes%}
  <a class="theme_list" href="/sigma_geo/themes/?subsection={{theme}}">{{theme}}</a>
  {% endfor %}
  </p>
  {% endif %}
  <div class="problem">
    <p class="problem_subs"><text class="problem">
        {{problem.text}}
    </text>
    <text class="sol_button" ><a class='sol_button' href="/sigma_geo/problem?id={{problem.id}}">Решение</a></text></p>
  </div>
</div>

{% endfor %}

<div class="page_list_footer">
  Страница:
  <a class="page_list_el" href="{{link}}1"><<</a>
  {% if pages.0 %}
  <a class="page_list_el" href="{{link}}{{pages.0}}">{{pages.0}}</a>
  {% endif %}
  <a class="page_list_el">{{pages.1}}</a>
  {% if pages.2 %}
  <a class="page_list_el" href="{{link}}{{pages.2}}">{{pages.2}}</a>
  {% endif %}
  <a class="page_list_el" href="{{link}}{{last_page}}">>></a>
</div>

{% endblock content %}