*{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2vw;
  box-sizing: border-box;
}
div.header{
  z-index: 10;
  width: 103%;
  background-color: #287233;
  padding-top: 6vw;
  margin-top: -5vw;
  padding-bottom: 2vw;
  margin-bottom: 3vw;
  padding-left: 8vw;
  margin-left: -3vw;
  position: fixed;
}
text.header_logo{
  color: white;
  font-size: 2vw;
  margin-right: 12vw;
}
text.header_text{
  color: white;
  font-size: 1.5vw;
  margin-right: 2vw;
}


form.search{
  width: 17vw;
  height: 3vw;
  margin: 0 auto;
  position: absolute;
  border-radius: 30px;
  border: none;
  outline: none;
  background: #D5DFD6;
  margin-top: -1.4vw
}
input.search_input{
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.2vw;
  width: calc(100% - 3vw);
  height: 3vw;
  background: #D5DFD6;
  padding-left: 1.3vw;
  position: absolute;
}
button.search_button{
  height: 1.7vw;
  width: 1.7vw;
  position: absolute;
  cursor: pointer;
  margin-left: 14.1vw;
  margin-top: 0.8vw;
  border: #D5DFD6;
  background-color: #D5DFD6;
}
img.loop{
  height: 1.7vw;
  width: 1.7vw;
  position:fixed;
  margin-top: -1.0vw;
  margin-left: -1.0vw;
  background-color: #D5DFD6;
}
img.auth_icon{
  height: 2.3vw;
  width: 1.7vw;
  margin-left: 0vw;
}

img.pic_left{
  height: 25vw;
  width: 25vw;
  margin-top: 10vw;
  margin-left: 13vw;
}
div.frame_right{
  background-color: #287233;
  width: 41vw;
  height: 16vw;
  border-radius: 2vw;
  font-size: 2vw;
  margin-top: -22vw;
  margin-left: 45vw;
  padding-top: 0.7vw;
}
.frame_right_body{
  margin-top: 1.0vw;
  border: #D9D9D9 solid;
  background-color: #D9D9D9;
  width: 41vw;
  height: 13vw;
  border-radius: 0px 0px 2vw 2vw;
  font-size: 1.3vw;
  word-spacing: 0.2vw;
  line-height: 2.5vw;
}
p.description{
  margin-top: 1.2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}
text.sigma{
  margin-top: 8vw;
  color: #287233;
  font-size: 3vw;
}
.frame_title{
  color:#D9D9D9;
  font-size: 1.7vw;
  margin-left: 2vw;
}

img.pic_right{
  height: 25vw;
  width: 25vw;
  margin-top: 12vw;
  margin-left: 60vw;
}
div.frame_left{
  background-color: #287233;
  width: 41vw;
  height: 16vw;
  border-radius: 2vw;
  font-size: 2vw;
  margin-top: -22vw;
  margin-left: 13vw;
  padding-top: 0.7vw;
}
div.frame_left_body{
  margin-top: 1.0vw;
  border: #D9D9D9 solid;
  background-color: #D9D9D9;
  width: 41vw;
  height: 13vw;
  border-radius: 0px 0px 2vw 2vw;
  font-size: 1.3vw;
  word-spacing: 0.2vw;
  line-height: 2.5vw;
}


text.sigma_slogan{
  margin-left: 28vw;
  color: #287233;
  font-size: 1.9vw;
}
text.slogan{
  font-size: 1.5vw;
  position: relative;
}
hr{
  margin-top: 2vw;
  border: 1px solid #D9D9D9;
}
.column1{
  color: #bebebe;
  font-size: 1.5vw;
  margin-left: 12vw;
}
.column2{
  color: #bebebe;
  margin-left: 43vw;
  margin-top: -1.7vw;
  font-size: 1.5vw;
}
.column3{
  color: #bebebe;
  margin-left: 55vw;
  margin-top: -1.9vw;
  font-size: 1.5vw;
}
.column4{
  color: #bebebe;
  margin-left: 69vw;
  margin-top: -2.0vw;
  font-size: 1.5vw;
}
.copyright{
  margin-top: 2vw;
  color: #bebebe;
  font-size: 1.5vw;
  margin-left: 12vw;
}


a.header_a:visited{
  color: white;
  text-decoration: none;
}
a.header_a:hover{
  color: #64a06a;
  text-decoration: none;
}
a.header_a:link{
  color: white;
  text-decoration: none;
}

a.footer:visited{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a.footer:hover{
  color: #64a06a;
  text-decoration: none;
}
a.footer:link{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

div.crutch_header{
  display: block;
  width: 5vw;
}

td.logo_col{

}
td.pages_col{
  width: 42vw
}
td.search_col{
  width: 20vw;
}
td.auth_col{

}